<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{home}">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
	<div layout:fragment="panel-condition">
		<form id="form-validator" th:object="${form}"
			th:action="@{/atmmon/UI_060621/bindGrid}" method="post">
			<table border="0" cellspacing="0" class="table-condition">
				<tr>
					<td class="condition-label">
						<label class="col-form-label">錯誤代碼:</label>
					</td>
					<td class="condition-input">
						<input id="errorcode" style="width:150px" type="text" class="form-control" th:field="*{errorcode}" th:maxlength="50"/>
					</td>
					<td></td>
					<td class="condition-label">
						<label class="col-form-label">輸出代碼:</label>
					</td>
					<td class="condition-input">
						<input id="externalcode" style="width:150px" type="text" class="form-control" th:field="*{externalcode}" th:maxlength="50"/>
					</td>
					<td></td>
					<td class="condition-label">
						<label class="col-form-label">通知:</label>
					</td>
					<td class="condition-input">
						<select id="notify" class="form-control" th:field="*{notify}">
							<option value="" selected="selected">全部</option>
							<option value="1" th:selected="${notify == '1'}">是</option>
							<option value="0" th:selected="${notify == '0'}">否</option>
						</select>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div layout:fragment="panel-button">
		<button type="button" class="btn btn-primary" id="btnQuery">查詢</button>
		<button type="button" class="btn btn-primary" id="btnDelete">刪除</button>
		<button type="button" class="btn btn-primary" id="btnClear">清除</button>
	</div>
	<div layout:fragment="panel-summary" class="panel-hidden"></div>
	<div layout:fragment="panel-grid" th:if="${pageData != null}">
		<div class="card-body table-responsive p-0">
			<table
				class="table table-striped table-bordered table-head-fixed table-hover text-nowrap">
				<thead th:if="${pageData.list != null}">
					<tr align="center">
						<th><b>刪除</b></th>
						<th><b>訊息關鍵字</b></th>
						<th><b>錯誤代碼</b></th>
						<th><b>輸出代碼</b></th>
						<th><b>訊息子碼</b></th>
						<th><b>訊息等級</b></th>
						<th><b>是否通知</b></th>
						<th><b>通知MAIL</b></th>
						<th><b>通知簡訊</b></th>
						<th><b>負責人 </b></th>
						<th><b>處理方法 </b></th>
					</tr>
				</thead>
				<tbody th:if="${pageData.list != null}">
					<tr th:each="data : ${pageData.list}">
						<td fep:table-td-check="db" table-td-check-value="${
								'{' + '&quot;errorcode&quot;:&quot;'+data.errorcode + '&quot;' + ',' 
									+ '&quot;externalcode&quot;:&quot;'+data.externalcode + '&quot;' + ','
									+ '&quot;msgkbNo&quot;:&quot;'+data.msgkbNo + '&quot;' + ','
									+ '&quot;exsubcode&quot;:&quot;'+data.exsubcode + '&quot;'
								+ '}'
						     }"/>
						<td align="center" />
							<a class="errorcode" href="#" th:text="${data.msgpattern}"
					 		  th:value="${
											'{' + '&quot;errorcode&quot;:&quot;'+data.errorcode + '&quot;' + ','
												+ '&quot;externalcode&quot;:&quot;'+data.externalcode + '&quot;' + ','
												+ '&quot;msgkbNo&quot;:&quot;'+data.msgkbNo + '&quot;' + ','
												+ '&quot;exsubcode&quot;:&quot;'+data.exsubcode + '&quot;'
											+ '}'
											}">
							</a>
						</td>
						<td th:text="${data.errorcode}" />
						<td th:text="${data.externalcode}" />
						<td th:text="${data.exsubcode}" />
						<td th:text="${data.severity}" />
						<td >
							<div class="row" th:switch="${data.notify}">
								<div class="col" th:case="1">
                            		是
                            	</div>
                            	<div class="col" th:case="0">
                                	否
                                </div>
                                <div class="col" th:case="*">
                        		</div>
                        	</div>
						</td>
						<td th:text="${data.notifymail}" />
						<td th:text="${data.msgkbNotifyphone}" />
						<td th:text="${data.responsible}" />
						<td th:text="${data.action}" />
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div layout:fragment="panel-script">
		<script type="text/javascript" th:src="@{/js/atmmon/UI060621.js}"></script>
	</div>
</body>
</html>