<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{home}">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div layout:fragment="panel-condition">
    <form id="form-validator" th:object="${form}" th:action="@{/rm/UI_028140/queryClick}" method="post">
        <table border="0" cellspacing="0" class="table-condition">
            <div class="card-header">
                <h5 class="card-title">調整條件</h5>
            </div>
            <tr>
                <td class="condition-label">
                    <label for="kind" class="col-form-label">調整項目:</label>
                </td>
                <td class="condition-input">
                    <select class="form-control" th:field="*{kind}">
                        <option value="1">CBS匯出</option>
                        <option value="2">CBS匯入</option>
                        <option value="3">全行匯款</option>
                    </select>
                </td>
                <td class="condition-label">
                    <label for="cbsflagddl" class="col-form-label">調整使用狀態:</label>
                </td>
                <td class="condition-input">
                    <select class="form-control" th:field="*{cbsflagddl}">
                        <option value="Y">啟動</option>
                        <option value="N">暫停</option>
                    </select>
                </td>
            </tr>
        </table>
        <table border="0" cellspacing="0" class="table-detail">
            <tr>
                <td class="condition-label" style="text-align: center">
                    <label class="col-form-label">CBS匯出</label>
                </td>
                <td class="condition-label" style="text-align: center">
                    <label class="col-form-label">CBS匯入</label>
                </td>
                <td class="condition-label" style="text-align: center">
                    <label class="col-form-label">全行匯款</label>
                </td>
            </tr>
            <tr>
                <td class="condition-input">
                    <input class="form-control" type="text" th:field="*{cbsoutflag}" readonly="true"/>
                </td>
                <td class="condition-input">
                    <input class="form-control" type="text" th:field="*{cbsinflag}" readonly="true"/>
                </td>
                <td class="condition-input">
                    <input class="form-control" type="text" th:field="*{rmstatflag}" readonly="true"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<div layout:fragment="panel-button" margin-top="20px">
    <button type="button" class="btn btn-primary" id="btnQuery">執行</button>
    <button type="button" class="btn btn-primary" id="btnClear">清除</button>
</div>
<div layout:fragment="panel-summary" class="panel-hidden">
</div>
<div layout:fragment="panel-grid">
</div>
<div layout:fragment="panel-script">
    <script type="text/javascript" th:src="@{/js/rm/UI028140.js}"></script>
</div>
</body>
</html>