<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{home}">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div layout:fragment="panel-condition" class="panel-hidden">
</div>
<div layout:fragment="panel-button">
    <button type="button" class="btn btn-primary" id="btnComit">確認</button>
    <button type="button" class="btn btn-primary" id="btnPrevPage">上一頁</button>
</div>
<div layout:fragment="panel-summary" class="panel-hidden"></div>
<div layout:fragment="panel-grid" class="panel-detail" th:object="${detailEntity}">
<form id="form-validator" th:object="${form}" th:action="@{/rm/UI_028220/btnComit}" method="post">
    <table border="0" cellspacing="0" class="table-detail">
        <tr>
            <td class="condition-label">
                <label class="col-form-label">批號</label>
            </td>
            <td class="condition-input" style = "width:350px">
            	<input class="form-control" type="text" th:field="*{rmbtchmtrTimes}" maxlength="32" >
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款日期</label>
            </td>
            <td class="condition-input">
        		<input class="form-control" type="text" th:field="*{rmbtchmtrRemDate}" maxlength="8">
        	</td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款分行</label>
            </td>
            <td class="condition-input">
        		<input class="form-control" type="text" th:field="*{rmbtchmtrSdn}" readonly = "true">
        	</td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款總筆數</label>
            </td>
            <td class="condition-input">
         		<input class="form-control" type="text" th:field="*{rmbtchmtrCnt}" readonly = "true">
         	</td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款總金額</label>
            </td>
            <td class="condition-input">
         		<input class="form-control" type="text" th:field="*{rmbtchmtrAmt}" readonly = "true">
         	</td>
        </tr>
    </table>
  </form>
</div>
<div layout:fragment="panel-script">
    <script type="text/javascript" th:src="@{/js/rm/UI028220_Detail.js}"></script>
</div>
</body>
</html>