<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{home}">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
	<div layout:fragment="panel-condition">
		<form id="form-validator" th:object="${form}" th:action="@{/rm/UI_028290/executeBtn_Click}" method="post">
			<table border="0" cellspacing="0" class="table-condition">
				<tr>
					<td class="condition-label">
						<label for="rMStatusTxt" class="col-form-label">調整項目</label>
					</td>
					<td class="condition-input">
						<input class="form-control" type="text" value="匯出暫禁記號" readonly />
					</td>
					<td class="condition-label">
						<label for="ddlRM_STAT" class="col-form-label">調整使用狀態</label>
					</td>
					<td class="condition-input">
						<select class="form-control" th:field="*{ddlRM_STAT}">
							<option value="Y" selected="selected">Y:匯出</option>
							<option value="N">N:暫停</option>
						</select>
						<input class="form-control" type="hidden" th:field="*{rMFLAGTxt}" />
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div layout:fragment="panel-button" th:object="${form}">
		<button th:if="*{executeBtnEnabled}" type="button" class="btn btn-primary" id="btnConfirm">執行</button>
		<button type="button" class="btn btn-primary" id="btnClear">清除</button>
	</div>
	<div layout:fragment="panel-summary" th:object="${form}">
		<table border="0" cellspacing="0" class="table-condition">
			<tr>
				<td align="center">
					<label for="rMFLAGTxt" class="col-form-label">現存匯出暫禁記號</label>
				</td>
			</tr>
			<tr>
				<td>
					<input class="form-control" type="text" th:value="*{rMFLAGTxt}" readonly />
				</td>
			</tr>
		</table>
	</div>
	<div layout:fragment="panel-grid" class="panel-hidden"></div>
	<div layout:fragment="panel-script">
		<script type="text/javascript" th:src="@{/js/rm/UI028290.js}"></script>
	</div>
</body>
</html>