<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{home}">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div layout:fragment="panel-condition" class="panel-hidden">
</div>
<div layout:fragment="panel-button">
    <button type="button" class="btn btn-primary" th:value="${
										'{' + '&quot;rmoutTxdate&quot;:&quot;'+detailEntity.rmoutTxdate + '&quot;' + ','
											+ '&quot;rmoutSenderBank&quot;:&quot;'+detailEntity.rmoutSenderBank + '&quot;' + ','
											+ '&quot;rmoutReceiverBank&quot;:&quot;'+detailEntity.rmoutReceiverBank + '&quot;' + ','
											+ '&quot;rmoutStanBkno&quot;:&quot;'+detailEntity.rmoutStanBkno + '&quot;' + ','
											+ '&quot;rmoutFepno&quot;:&quot;'+detailEntity.rmoutFepno + '&quot;' + ','
											+ '&quot;rmoutPending&quot;:&quot;'+detailEntity.rmoutPending + '&quot;' + ','
											+ '&quot;rmoutOriginal&quot;:&quot;'+detailEntity.rmoutOriginal + '&quot;' + ','
											+ '&quot;rmoutBrno&quot;:&quot;'+detailEntity.rmoutBrno + '&quot;' + ','
											+ '&quot;rmoutFepsubno&quot;:&quot;'+detailEntity.rmoutFepsubno + '&quot;' + ','
											+ '&quot;rmoutBackReason&quot;:&quot;'+detailEntity.rmoutBackReason + '&quot;' + ','
											+ '&quot;rmoutOrgdate&quot;:&quot;'+detailEntity.rmoutOrgdate + '&quot;' + ','
											+ '&quot;rmoutEjno1&quot;:&quot;'+detailEntity.rmoutEjno1 + '&quot;' + ','
											+ '&quot;rmoutEjno2&quot;:&quot;'+detailEntity.rmoutEjno2 + '&quot;' + ','
											+ '&quot;rmoutEjno3&quot;:&quot;'+detailEntity.rmoutEjno3 + '&quot;' + ','
											+ '&quot;rmoutOrgregFepno&quot;:&quot;'+detailEntity.rmoutOrgregFepno + '&quot;' + ','
											+ '&quot;rmoutStan&quot;:&quot;'+detailEntity.rmoutStan + '&quot;'

										+ '}'
										}" id="btnQuery">查詢</button>
    <button type="button" class="btn btn-primary" id="btnPrevPage">上一頁</button>
</div>
<div layout:fragment="panel-summary" class="panel-hidden"></div>
<div layout:fragment="panel-grid" class="panel-detail" th:object="${detailEntity}">
    <table border="0" cellspacing="0" class="table-detail">
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款日期</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutTxdate}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label col-5">
                <label class="col-form-label">登錄序號</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutFepno}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">登錄分行別</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutBrno}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">交易來源</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutOriginal}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款種類</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left"  th:if="${detailEntity!=null}" th:text="*{rmoutRemtype}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">匯出狀態</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutStat}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯出時間</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutSendtime}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">匯款行</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutSenderBank}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款人代號</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutRemcif}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">匯款人</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutOutName}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款人電話</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutRemtel}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">解款行</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutReceiverBank}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">解款人</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutInName}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">解款人帳號</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutInAccIdNo}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">稅單編號</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutTaxno}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">附言</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutMemo}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款帳務別</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutAmtType}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">匯款金額</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutTxamt}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">手續費帳務別</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutServamtType}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">應收手續費</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutRecfee}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">實收手續費</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutActfee}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">交易序號</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutT24No}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">週邊交易序號</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutBrsno}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">財金電文序號</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutFiscsno}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">行庫通匯序號</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutRmsno}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">財金回應代碼</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutFiscRtnCode}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">STAN</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutStan}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">優先順序</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutOwpriority}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">櫃員</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutRegTlrno}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">主管</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutSupno1}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">原匯入日</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutOrgdate}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">原匯入序號</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutOrgregFepno}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">原匯入時間</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="${ORG_RMIN_TIME}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">原匯款種類</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutOrgremtype}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">退匯理由</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutBackReason}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">EJNO(匯出財金)</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutEjno1}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">EJNO(T24登錄)</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutEjno2}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">EJNO(匯出更正)</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutEjno3}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">匯款代理人ID</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutRemagentid}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
            <td class="condition-label">
                <label class="col-form-label">匯款代理人姓名</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutRemagentname}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
        <tr>
            <td class="condition-label">
                <label class="col-form-label">跨行基金可用餘額</label>
            </td>
            <td class="condition-input">
                <label class="form-control label-text-left" th:if="${detailEntity!=null}" th:text="*{rmoutUseBal}"></label>
                <label class="form-control" th:if="${detailEntity==null}"></label>
            </td>
        </tr>
    </table>
</div>
<div layout:fragment="panel-script">
    <script type="text/javascript" th:src="@{/js/rm/UI028110_Detail.js}"></script>
</div>
</body>
</html>