<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syscom.fep.mybatis.ext.mapper.AllbankExtMapper">
    <update id="updateALLBANKByAddressLike">
        UPDATE ALLBANK SET ALLBANK_RMFORWARD = #{flag,jdbcType=VARCHAR}
        <where>
            <if test='address != null and address !=""'>
                AND ALLBANK_ADDRRESS LIKE CONCAT('%', CONCAT(#{address}, '%'))
            </if>
            AND ALLBANK_RMFLAG = '1'
            <if test='dbflag != null and dbflag !=""'>
                AND ALLBANK_RMFORWARD = #{dbflag,jdbcType=VARCHAR}
            </if>
            AND ALLBANK_BKNO != '700'
        </where>
    </update>
    <update id="updateALLBANKByBKNO">
        UPDATE ALLBANK
        SET ALLBANK_SET_CLOSE_FLAG = 1,
        UPDATE_TIME = sysdate
        WHERE ALLBANK_BKNO IN
        <foreach collection="allbankBkno.split(',')" item="bkno" index="index" open="(" close=")" separator=",">
            #{bkno}
        </foreach>
        AND ALLBANK_RMFLAG = 1
    </update>
    <delete id="deleteALLBANKByExceptBKNO">
        DELETE
        FROM ALLBANK
        WHERE ALLBANK_BKNO != #{bkno,jdbcType=VARCHAR}
          AND ALLBANK_BKNO = ALLBANK_UNIT_BANK
    </delete>
    <select id="queryByPrimaryKey" parameterType="map"
            resultMap="com.syscom.fep.mybatis.mapper.AllbankMapper.BaseResultMap">
        SELECT
        <include refid="com.syscom.fep.mybatis.mapper.AllbankMapper.Base_Column_List"/>
        FROM ALLBANK
        <where>
            <if test="allbankBkno != null and allbankBkno !=''">
                AND ALLBANK_BKNO = #{allbankBkno,jdbcType=VARCHAR}
            </if>
            <if test="allbankBrno != null and allbankBrno !=''">
                AND ALLBANK_BRNO = #{allbankBrno,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryAllBankByBkno" resultType="java.lang.String">
        SELECT ALLBANK_BKNO FROM ALLBANK
        <where>
            <if test="allbankBkno != null and allbankBkno !=''">
                AND ALLBANK_BKNO = #{allbankBkno,jdbcType=VARCHAR}
            </if>
        </where>
        GROUP BY ALLBANK_BKNO
    </select>
    <select id="getALLBANKByPKLike" parameterType="map"
            resultMap="com.syscom.fep.mybatis.mapper.AllbankMapper.BaseResultMap">
        SELECT
        <include refid="com.syscom.fep.mybatis.mapper.AllbankMapper.Base_Column_List"/>
        FROM ALLBANK
        <where>
            <if test='allbankBkno != null and allbankBkno !=" "'>
                AND ALLBANK_BKNO LIKE CONCAT('%', CONCAT(#{allbankBkno}, '%'))
            </if>
            <if test='allbankBrno != null and allbankBrno !=" "'>
                AND ALLBANK_BRNO LIKE CONCAT('%', CONCAT(#{allbankBrno}, '%'))
            </if>
        </where>
        ORDER BY ALLBANK_BKNO,ALLBANK_BRNO
    </select>
    <select id="getALLBANKByPKRm" parameterType="map"
            resultMap="com.syscom.fep.mybatis.mapper.AllbankMapper.BaseResultMap">
        SELECT
        <include refid="com.syscom.fep.mybatis.mapper.AllbankMapper.Base_Column_List"/>
        FROM ALLBANK
        <where>
            <if test='allbankBkno != null and allbankBkno !=" "'>
                AND ALLBANK_BKNO = #{allbankBkno,jdbcType=VARCHAR}
            </if>
            <if test='allbankBrno != null and allbankBrno !=" "'>
                AND ALLBANK_BRNO = #{allbankBrno,jdbcType=VARCHAR}
            </if>
            <if test='allbankAddrress != null and allbankAddrress !=" "'>
                AND ALLBANK_ADDRRESS LIKE CONCAT('%', CONCAT(#{allbankAddrress}, '%'))
            </if>
            <if test='allbankRmforward != null and allbankRmforward !=" "'>
                AND ALLBANK_RMFORWARD = #{allbankRmforward,jdbcType=VARCHAR}
            </if>
            <if test='allbankSetCloseFlag != null and allbankSetCloseFlag !=" "'>
                AND ALLBANK_SET_CLOSE_FLAG = #{allbankSetCloseFlag,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="getCountyList" resultType="java.lang.String">
        SELECT county
        FROM (select SUBSTR(ALLBANK_ADDRRESS, 0, 3) as county FROM ALLBANK)
        GROUP BY county
        ORDER BY county
    </select>
    <select id="getALLBANKByAddressLike" parameterType="map"
            resultMap="com.syscom.fep.mybatis.mapper.AllbankMapper.BaseResultMap">
        SELECT
        <include refid="com.syscom.fep.mybatis.mapper.AllbankMapper.Base_Column_List"/>
        FROM ALLBANK WHERE ALLBANK_RMFLAG = '1' AND ALLBANK_BKNO != '700'
        <if test='address != null and address !=""'>
            AND ALLBANK_ADDRRESS LIKE CONCAT('%', CONCAT(#{address}, '%'))
        </if>
    </select>
    <select id="getALLBANKCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ALLBANK
    </select>
    <select id="getFISCAndBANKCnt" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ALLBANK
        WHERE ALLBANK_SET_CLOSE_FLAG = 1
    </select>
    <select id="getDataTableByPrimaryKey" parameterType="map"
            resultMap="com.syscom.fep.mybatis.mapper.AllbankMapper.BaseResultMap">
        SELECT
        <include refid="com.syscom.fep.mybatis.mapper.AllbankMapper.Base_Column_List"/>
        FROM ALLBANK
        <where>
            <if test='allbankBkno != null and allbankBkno !=" "'>
                AND ALLBANK_BKNO = #{allbankBkno,jdbcType=VARCHAR}
            </if>
            <if test='allbankBrno != null and allbankBrno !=" "'>
                AND ALLBANK_BRNO = #{allbankBrno,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <update id="updateAllbankRMforward">
        UPDATE ALLBANK
        SET ALLBANK_RMFORWARD = 0
        WHERE ALLBANK_RMFORWARD &lt;&gt; 0
    </update>
    <update id="updateALLBANKforBatchDaily">
        UPDATE ALLBANK
        SET ALLBANK_SET_CLOSE_FLAG = 0,
            ALLBANK_SET_CLOSE_TIME = 0,
            ALLBANK_RMFORWARD      = 0
    </update>
</mapper>