<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syscom.fep.mybatis.ext.mapper.AtmboxExtMapper">
    <!-- 2021-04-30 ZhaoKai add -->
    <select id="queryByCandidateKey" parameterType="com.syscom.fep.mybatis.model.Atmbox" resultMap="com.syscom.fep.mybatis.mapper.AtmboxMapper.BaseResultMap">
        SELECT
        <include refid="com.syscom.fep.mybatis.mapper.AtmboxMapper.Base_Column_List"/>
        FROM ATMBOX
        WHERE ATMBOX_TX_DATE = #{atmboxTxDate,jdbcType=CHAR}
        AND ATMBOX_ATMNO = #{atmboxAtmno,jdbcType=CHAR}
        AND ATMBOX_RWT_SEQNO = #{atmboxRwtSeqno,jdbcType=INTEGER}
        AND ATMBOX_BOXNO = #{atmboxBoxno,jdbcType=DECIMAL}
        AND ATMBOX_SETTLE = #{atmboxSettle,jdbcType=DECIMAL}
        AND ATMBOX_CUR = #{atmboxCur,jdbcType=CHAR}
        AND ATMBOX_UNIT = #{atmboxUnit,jdbcType=INTEGER}
    </select>
    <select id="queryATMBOXByDef" parameterType="map" resultType="map">
        SELECT *
        FROM ATMBOX
        <where>
            <if test="atmboxAtmno != null and atmboxAtmno != ''">
                AND ATMBOX_ATMNO = #{atmboxAtmno,jdbcType=CHAR}
            </if>
            <if test="atmboxId != null">
                AND ATMBOX_ID = #{atmboxId,jdbcType=DECIMAL}
            </if>
            <if test="atmboxRwtSeqno != null">
                AND ATMBOX_RWT_SEQNO = #{atmboxRwtSeqno,jdbcType=INTEGER}
            </if>
            <if test="atmboxSettle != null">
                AND ATMBOX_SETTLE = #{atmboxSettle,jdbcType=DECIMAL}
            </if>
            <if test="atmboxBoxno != null">
                AND ATMBOX_BOXNO = #{atmboxBoxno,jdbcType=DECIMAL}
            </if>
            <if test="atmboxUnit != null">
                AND ATMBOX_UNIT = #{atmboxUnit,jdbcType=INTEGER}
            </if>
        </where>
        order by ATMBOX_ID
    </select>

    <!-- 2021-04-30 ZhaoKai add -->
    <update id="updateByCandidateKey" parameterType="com.syscom.fep.mybatis.model.Atmbox">
        UPDATE ATMBOX
        <set>
            <if test="atmboxTxDate != null">
                ATMBOX_TX_DATE = #{atmboxTxDate,jdbcType=CHAR},
            </if>
            <if test="atmboxAtmno != null">
                ATMBOX_ATMNO = #{atmboxAtmno,jdbcType=CHAR},
            </if>
            <if test="atmboxRwtSeqno != null">
                ATMBOX_RWT_SEQNO = #{atmboxRwtSeqno,jdbcType=INTEGER},
            </if>
            <if test="atmboxSettle != null">
                ATMBOX_SETTLE = #{atmboxSettle,jdbcType=DECIMAL},
            </if>
            <if test="atmboxBoxno != null">
                ATMBOX_BOXNO = #{atmboxBoxno,jdbcType=DECIMAL},
            </if>
            <if test="atmboxCur != null">
                ATMBOX_CUR = #{atmboxCur,jdbcType=CHAR},
            </if>
            <if test="atmboxUnit != null">
                ATMBOX_UNIT = #{atmboxUnit,jdbcType=INTEGER},
            </if>
            <if test="atmboxRefill != null">
                ATMBOX_REFILL = #{atmboxRefill,jdbcType=INTEGER},
            </if>
            <if test="atmboxDeposit != null">
                ATMBOX_DEPOSIT = #{atmboxDeposit,jdbcType=INTEGER},
            </if>
            <if test="atmboxPresent != null">
                ATMBOX_PRESENT = #{atmboxPresent,jdbcType=INTEGER},
            </if>
            <if test="atmboxReject != null">
                ATMBOX_REJECT = #{atmboxReject,jdbcType=INTEGER},
            </if>
            <if test="atmboxUnknown != null">
                ATMBOX_UNKNOWN = #{atmboxUnknown,jdbcType=INTEGER},
            </if>
            <if test="atmboxBrnoSt != null">
                ATMBOX_BRNO_ST = #{atmboxBrnoSt,jdbcType=CHAR},
            </if>
            <if test="updateUserid != null">
                UPDATE_USERID = #{updateUserid,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE ATMBOX_TX_DATE = #{atmboxTxDate,jdbcType=CHAR}
        AND ATMBOX_ATMNO = #{atmboxAtmno,jdbcType=CHAR}
        AND ATMBOX_RWT_SEQNO = #{atmboxRwtSeqno,jdbcType=INTEGER}
        AND ATMBOX_BOXNO = #{atmboxBoxno,jdbcType=DECIMAL}
        AND ATMBOX_SETTLE = #{atmboxSettle,jdbcType=DECIMAL}
        AND ATMBOX_CUR = #{atmboxCur,jdbcType=CHAR}
        AND ATMBOX_UNIT = #{atmboxUnit,jdbcType=INTEGER}
    </update>
    <!-- 2022-05-24 Han add -->
    <select id="GetATMBoxByAtmnoRwtseqnoSettle2" parameterType="map" resultType="map">
        SELECT SUM(ATMBOX_REFILL)  AS refillSum,
               SUM(ATMBOX_DEPOSIT) AS depositSum,
               SUM(ATMBOX_PRESENT) AS presentSum,
               SUM(ATMBOX_REJECT)  AS rejectSum,
               SUM(ATMBOX_UNKNOWN) AS unknowSum,
               ATMBOX_BOXNO,
               ATMBOX_CUR,
               ATMBOX_UNIT
        FROM ATMBOX
        WHERE ATMBOX_RWT_SEQNO = #{ATMBOX_RWT_SEQNO,jdbcType=VARCHAR}
          AND ATMBOX_SETTLE = #{ATMBOX_SETTLE,jdbcType=DECIMAL}
        GROUP BY ATMBOX_BOXNO, ATMBOX_CUR, ATMBOX_UNIT
    </select>
    <!-- 2022-05-24 Han add -->
    <select id="GetATMBoxByAtmnoRwtseqnoSettle3" parameterType="map" resultType="map">
        SELECT refillSum,
               depositSum,
               presentSum,
               rejectSum,
               unknowSum,
               ATMBOX_BOXNO,
               ATMBOX_CUR,
               ATMBOX_UNIT
        FROM (SELECT SUM(ATMBOX_REFILL)  AS refillSum,
                     SUM(ATMBOX_DEPOSIT) AS depositSum,
                     SUM(ATMBOX_PRESENT) AS presentSum,
                     SUM(ATMBOX_REJECT)  AS rejectSum,
                     SUM(ATMBOX_UNKNOWN) AS unknowSum,
                     ATMBOX_BOXNO,
                     ATMBOX_CUR,
                     ATMBOX_UNIT
              FROM ATMBOX
              WHERE ATMBOX_ATMNO = #{ATMBOX_ATMNO,jdbcType=VARCHAR}
                AND ATMBOX_RWT_SEQNO = #{ATMBOX_RWT_SEQNO,jdbcType=VARCHAR}
                AND ATMBOX_SETTLE = #{ATMBOX_SETTLE,jdbcType=DECIMAL}
              GROUP BY ATMBOX_BOXNO, ATMBOX_CUR, ATMBOX_UNIT) G
                 LEFT JOIN CURCD ON CURCD_ALPHA3 = ATMBOX_CUR
        ORDER BY ATMBOX_BOXNO, CURCD_CUR_BSP, ATMBOX_UNIT
    </select>
</mapper>