<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syscom.fep.mybatis.ext.mapper.BitmapdefExtMapper">
	<!-- 2021-04-20 ZhaoKai add -->
	<select id="queryAllData" parameterType="java.lang.String" resultMap="com.syscom.fep.mybatis.mapper.BitmapdefMapper.BaseResultMap">
		SELECT
		<include refid="com.syscom.fep.mybatis.mapper.BitmapdefMapper.Base_Column_List" />
		FROM BITMAPDEF
	</select>
</mapper>