<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syscom.fep.mybatis.ext.mapper.FepuserExtMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="fepuserUserid" parameterType="com.syscom.fep.mybatis.model.Fepuser">
        insert into FEPUSER (FEPUSER_LOGONID, FEPUSER_BRNO,
        FEPUSER_BRNO_ST, FEPUSER_TLRNO, FEPUSER_NAME,
        FEPUSER_JOB, FEPUSER_GROUP, FEPUSER_LU_DATE,
        FEPUSER_LU_TIME, FEPUSER_STATUS, UPDATE_USERID,
        UPDATE_TIME, USER_UPDATE_TIME, FEPUSER_BOSS,
        FEPUSER_LEVEL)
        values (#{fepuserLogonid,jdbcType=CHAR}, #{fepuserBrno,jdbcType=CHAR},
        #{fepuserBrnoSt,jdbcType=CHAR}, #{fepuserTlrno,jdbcType=VARCHAR}, #{fepuserName,jdbcType=VARCHAR},
        #{fepuserJob,jdbcType=CHAR}, #{fepuserGroup,jdbcType=VARCHAR}, #{fepuserLuDate,jdbcType=VARCHAR},
        #{fepuserLuTime,jdbcType=VARCHAR}, #{fepuserStatus,jdbcType=DECIMAL}, #{updateUserid,jdbcType=INTEGER},
        #{updateTime,jdbcType=TIMESTAMP}, #{userUpdateTime,jdbcType=TIMESTAMP}, #{fepuserBoss,jdbcType=CHAR},
        #{fepuserLevel,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="fepuserUserid" parameterType="com.syscom.fep.mybatis.model.Fepuser">
        insert into FEPUSER
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fepuserLogonid != null">
                FEPUSER_LOGONID,
            </if>
            <if test="fepuserBrno != null">
                FEPUSER_BRNO,
            </if>
            <if test="fepuserBrnoSt != null">
                FEPUSER_BRNO_ST,
            </if>
            <if test="fepuserTlrno != null">
                FEPUSER_TLRNO,
            </if>
            <if test="fepuserName != null">
                FEPUSER_NAME,
            </if>
            <if test="fepuserJob != null">
                FEPUSER_JOB,
            </if>
            <if test="fepuserGroup != null">
                FEPUSER_GROUP,
            </if>
            <if test="fepuserLuDate != null">
                FEPUSER_LU_DATE,
            </if>
            <if test="fepuserLuTime != null">
                FEPUSER_LU_TIME,
            </if>
            <if test="fepuserStatus != null">
                FEPUSER_STATUS,
            </if>
            <if test="updateUserid != null">
                UPDATE_USERID,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="userUpdateTime != null">
                USER_UPDATE_TIME,
            </if>
            <if test="fepuserBoss != null">
                FEPUSER_BOSS,
            </if>
            <if test="fepuserLevel != null">
                FEPUSER_LEVEL,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fepuserLogonid != null">
                #{fepuserLogonid,jdbcType=CHAR},
            </if>
            <if test="fepuserBrno != null">
                #{fepuserBrno,jdbcType=CHAR},
            </if>
            <if test="fepuserBrnoSt != null">
                #{fepuserBrnoSt,jdbcType=CHAR},
            </if>
            <if test="fepuserTlrno != null">
                #{fepuserTlrno,jdbcType=VARCHAR},
            </if>
            <if test="fepuserName != null">
                #{fepuserName,jdbcType=VARCHAR},
            </if>
            <if test="fepuserJob != null">
                #{fepuserJob,jdbcType=CHAR},
            </if>
            <if test="fepuserGroup != null">
                #{fepuserGroup,jdbcType=VARCHAR},
            </if>
            <if test="fepuserLuDate != null">
                #{fepuserLuDate,jdbcType=VARCHAR},
            </if>
            <if test="fepuserLuTime != null">
                #{fepuserLuTime,jdbcType=VARCHAR},
            </if>
            <if test="fepuserStatus != null">
                #{fepuserStatus,jdbcType=DECIMAL},
            </if>
            <if test="updateUserid != null">
                #{updateUserid,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userUpdateTime != null">
                #{userUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fepuserBoss != null">
                #{fepuserBoss,jdbcType=CHAR},
            </if>
            <if test="fepuserLevel != null">
                #{fepuserLevel,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <select id="getFEPUSERByDef" parameterType="map" resultMap="com.syscom.fep.mybatis.mapper.FepuserMapper.BaseResultMap">
        select
        <include refid="com.syscom.fep.mybatis.mapper.FepuserMapper.Base_Column_List"/>
        from FEPUSER
        <where>
            <if test="fepuserTlrno != null and fepuserTlrno != ''">
                AND FEPUSER_TLRNO = #{fepuserTlrno,jdbcType=CHAR}
            </if>
            <if test="fepuserLogonid != null and fepuserLogonid != ''">
                AND FEPUSER_LOGONID = #{fepuserLogonid,jdbcType=CHAR}
            </if>
        </where>
    </select>
    <select id="getFepUser" parameterType="map" resultMap="com.syscom.fep.mybatis.mapper.FepuserMapper.BaseResultMap">
        SELECT
        <include refid="com.syscom.fep.mybatis.mapper.FepuserMapper.Base_Column_List"/>
        FROM FEPUSER
        <where>
            <if test="argsMap.groupId != null and argsMap.groupId != ''">
                AND FEPUSER_GROUP = #{argsMap.groupId,jdbcType=CHAR}
            </if>
            <if test="argsMap.atmbctl != null and argsMap.atmbctl != ''">
                AND FEPUSER_BRNO = #{argsMap.atmbctl,jdbcType=CHAR}
            </if>
            <if test="argsMap.userTelId != null and argsMap.userTelId != ''">
                AND FEPUSER_LOGONID = #{argsMap.userTelId,jdbcType=CHAR}
            </if>
            <if test="argsMap.updateUserId != null and argsMap.updateUserId != ''">
                AND FEPUSER_USERID = #{argsMap.updateUserId,jdbcType=DECIMAL}
            </if>
        </where>
        ORDER BY FEPUSER_LOGONID
    </select>
    <select id="getBrNoName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT BCTL_ALIAS
        FROM BCTL
        WHERE BCTL_BRNO = #{brNo,jdbcType=CHAR}
    </select>
    <select id="getFEPUSER" parameterType="map" resultMap="com.syscom.fep.mybatis.mapper.FepuserMapper.BaseResultMap">
        select
        <include refid="com.syscom.fep.mybatis.mapper.FepuserMapper.Base_Column_List"/>
        FROM FEPUSER where FEPUSER_STATUS IN ('1','3','4','5')
    </select>
    <select id="getFepUserByLogonId" parameterType="map" resultMap="com.syscom.fep.mybatis.mapper.FepuserMapper.BaseResultMap">
        select
        <include refid="com.syscom.fep.mybatis.mapper.FepuserMapper.Base_Column_List"/>
        from FEPUSER
        where FEPUSER_LOGONID = #{fepuserLogonid,jdbcType=CHAR}
    </select>
    <update id="updateByLogonIdSelective" useGeneratedKeys="true" keyProperty="fepuserUserid" parameterType="com.syscom.fep.mybatis.model.Fepuser">
        update FEPUSER
        <set>
            <if test="fepuserBrno != null">
                FEPUSER_BRNO = #{fepuserBrno,jdbcType=VARCHAR},
            </if>
            <if test="fepuserBrnoSt != null">
                FEPUSER_BRNO_ST = #{fepuserBrnoSt,jdbcType=CHAR},
            </if>
            <if test="fepuserTlrno != null">
                FEPUSER_TLRNO = #{fepuserTlrno,jdbcType=VARCHAR},
            </if>
            <if test="fepuserName != null">
                FEPUSER_NAME = #{fepuserName,jdbcType=VARCHAR},
            </if>
            <if test="fepuserJob != null">
                FEPUSER_JOB = #{fepuserJob,jdbcType=CHAR},
            </if>
            <if test="fepuserGroup != null">
                FEPUSER_GROUP = #{fepuserGroup,jdbcType=VARCHAR},
            </if>
            <if test="fepuserLuDate != null">
                FEPUSER_LU_DATE = #{fepuserLuDate,jdbcType=VARCHAR},
            </if>
            <if test="fepuserLuTime != null">
                FEPUSER_LU_TIME = #{fepuserLuTime,jdbcType=VARCHAR},
            </if>
            <if test="fepuserStatus != null">
                FEPUSER_STATUS = #{fepuserStatus,jdbcType=DECIMAL},
            </if>
            <if test="updateUserid != null">
                UPDATE_USERID = #{updateUserid,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userUpdateTime != null">
                USER_UPDATE_TIME = #{userUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fepuserBoss != null">
                FEPUSER_BOSS = #{fepuserBoss,jdbcType=CHAR},
            </if>
            <if test="fepuserLevel != null">
                FEPUSER_LEVEL = #{fepuserLevel,jdbcType=DECIMAL},
            </if>
        </set>
        where FEPUSER_LOGONID = #{fepuserLogonid,jdbcType=CHAR}
    </update>
    <delete id="deleteByLogonId" parameterType="com.syscom.fep.mybatis.model.Fepuser">
        delete from FEPUSER
        where FEPUSER_LOGONID = #{fepuserLogonid,jdbcType=CHAR}
    </delete>
</mapper>