<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.syscom.fep.mybatis.ext.mapper.HotbinExtMapper">

	<!-- Han Add 2022/06/17  -->
	<select id="queryHOTBINByPKLike" parameterType="map" resultType="map">
		SELECT * FROM HOTBIN Where 1=1
		<if test="txtBinNo != null and txtBinNo != ''">
			AND BIN_NO LIKE CONCAT('%', CONCAT(#{txtBinNo}, '%'))
		</if>
		<if test="txtBinOrg != null and txtBinOrg != ''">
			AND BIN_ORG LIKE CONCAT('%', CONCAT(#{txtBinOrg}, '%'))
		</if>
		ORDER BY BIN_NO
	</select>
	
	<!-- Han Add 2022/06/20  -->
	 <delete id="deleteHOTBIN" >
        DELETE FROM HOTBIN t 
        WHERE t.BIN_NO = #{binNo,jdbcType=CHAR}
    </delete>

</mapper>