<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syscom.fep.mybatis.ext.mapper.Inbk2160ExtMapper">
    <select id="selectOne" parameterType="map" resultMap="com.syscom.fep.mybatis.mapper.Inbk2160Mapper.BaseResultMap">
        select
        <include refid="com.syscom.fep.mybatis.mapper.Inbk2160Mapper.Base_Column_List" />
        from INBK2160
        where INBK2160_BKNO = #{inbk2160Bkno,jdbcType=CHAR}
        and INBK2160_TX_DATE = #{inbk2160TxDate,jdbcType=CHAR}
        and INBK2160_EJFNO = #{inbk2160Ejfno,jdbcType=INTEGER}
    </select>

    <select id="getTodayFinishTradeData" parameterType="map" resultType="map">
        SELECT *
        FROM INBK2160
        where INBK2160_BKNO = #{inbk2160Bkno,jdbcType=CHAR}
        and INBK2160_SUBSYS = #{inbk2160Subsys,jdbcType=TINYINT}
        and INBK2160_PRC_RESULT = #{inbk2160PrcResult,jdbcType=CHAR}
    </select>
    
    <select id="getINBK2160ByFeptxn" parameterType="map" resultMap="com.syscom.fep.mybatis.mapper.Inbk2160Mapper.BaseResultMap">
        select
        <include refid="com.syscom.fep.mybatis.mapper.Inbk2160Mapper.Base_Column_List" />
        from INBK2160
        where INBK2160_TX_DATE = #{inbk2160TxDate,jdbcType=CHAR}
        and INBK2160_EJFNO = #{inbk2160Ejfno,jdbcType=INTEGER}
    </select>
</mapper>