<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syscom.fep.mybatis.ext.mapper.RmstatExtMapper">

    <select id="queryByPrimaryKey" parameterType="map" resultMap="com.syscom.fep.mybatis.mapper.RmstatMapper.BaseResultMap">
        select
        <include refid="com.syscom.fep.mybatis.mapper.RmstatMapper.Base_Column_List" />
        from RMSTAT
        where RMSTAT_HBKNO = #{rmstatHbkno,jdbcType=CHAR}
    </select>

    <update id="updateAmlDaily">
        UPDATE RMSTAT SET RMSTAT_AMLFLAG = 'Y'
        WHERE RMSTAT_AMLFLAG = 'N'
    </update>
</mapper>