<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{home}">
<head>
	<meta charset="UTF-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
	<div align="left" layout:fragment="panel-button">
		<button th:disabled="*{webType == 'SSTQ'}" style="width:100px" type="button" class="btn btn-primary" id="btnInsert">變更儲存</button>
		<button th:disabled="*{webType == 'SSTQ'}" style="width:100px" type="button" class="btn btn-primary" id="btnClear">放棄變更</button>
		<button type="button" style="width:100px" class="btn btn-primary" id="btnPrevPage">上一頁</button>
	</div>
	<div layout:fragment="panel-condition">
	    <form id="form-validator" th:object="${form}" th:action="@{/dbmaintain/UI_070510/insertClick}" method="post">
	        <table border="0" cellspacing="0" class="table-condition">
	            <tr>
	                <td class="condition-label" >
	                    <label class="col-form-label">CREDIT CARD BIN<span style="color: red">*</span></label>
	                </td>
	                <td class="condition-input">
	                    <input class="form-control" type="text" th:field="*{txtBinNoInsert}" maxlength="6">
	                </td>
	                 <td class="condition-label" >
	                    <label class="col-form-label">發卡組織</label>
	                </td>
	                <td class="condition-input">
	                    <input class="form-control" type="text" th:field="*{txtBinOrgInsert}" maxlength="6">
	                </td>
	                <td class="condition-input">
	                	<span  th:if="*{focusInsert} != null" >
	                    	<input class="form-control" type="hidden" th:field="*{focusInsert}" >
	                    </span>
	                </td>
	            </tr>
	        </table>
	    </form>
	</div>
	
	<div layout:fragment="panel-script">
		<script type="text/javascript" th:src="@{/js/dbmaintain/UI070510_Insert.js}"></script>
	</div>
</body>
</html>