<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{home}">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>UI012140</title>
</head>
<body>

	<div layout:fragment="panel-condition">
		<form id="form-validator" th:object="${form}" th:action="@{/inbk/UI_012140/inquiryMain}" method="post">			
			<table border="0" cellspacing="0" class="table-condition">
				<tr>
					<td class="condition-label">
						<label for="tradingDate" class="col-form-label">原交易日期:</label>
					</td>
					<td class="condition-input">
						<input type="hidden" id="trading" th:value="*{tradingDate}" />
						<div class="input-group date" data-target-input="nearest" id="tradingDate">						    
							<input type="text" class="form-control datetimepicker-input" data-target="#tradingDate" th:field="*{tradingDate}" />
							<div class="input-group-append" data-target="#tradingDate" data-toggle="datetimepicker">
								<div class="input-group-text">
									<i class="fa fa-calendar"></i>
								</div>
							</div>
						</div>
					</td>
					<td class="condition-label">
						<label for="pcode" class="col-form-label">PCODE:</label>
					</td>
					<td class="condition-input">
						<select class="form-control" id="pcode" th:field="*{pcode}">
							<option value="2140" selected="selected">2140:人工沖正請求</option>
							<option value="2573">2573:跨國提款</option>
							<option value="2549">2549:跨國消費扣款</option>
						</select>
					</td>
					<td class="condition-label">
						<label for="queryserial" class="col-form-label">原查詢序號:</label>
					</td>
					<td class="condition-input">
						<div class="row">
							<div class="col">
								<input class="form-control" id="bkno" type="text" th:field="*{oribknotxt}" maxlength="3" />
							</div>
							<div class="col">
								<input class="form-control"  id="stan" type="text" th:field="*{oristantxt}" maxlength="7" />
							</div>
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div layout:fragment="panel-button">
		<button type="submit" class="btn btn-primary" id="BtnQuery">查詢</button>
		<button type="button" class="btn btn-primary" id="BtnComit">確認</button>
		<button type="button" class="btn btn-primary" id="btnClear">清除</button>
	</div>
	<div layout:fragment="panel-summary" class="panel-hidden"></div>
	<div layout:fragment="panel-grid" class="panel-detail">
		<table border="0" cellspacing="0" class="table-detail">
			<tr>
				<td class="condition-label">
					<label class="col-form-label">原交易金額:</label>
				</td>
				<td class="condition-input">
					<label class="form-control label-text-left" id="txatmtxt" th:text="${form.txatmtxt}"></label>
				</td>
				<td class="condition-input">
					<label class="label-text-left">元</label>
				</td>
				<td class="condition-label">
					<label class="col-form-label">原交易帳號/卡號:</label>
				</td>
				<td class="condition-input">
					<label class="form-control" id="troutActno" th:text="${form.troutactnotxt}"></label>
				</td>
			</tr>
			<tr>
				<td class="condition-label">
					<label class="col-form-label">原交易存款單位代號:</label>
				</td>
				<td class="condition-input">
					<label class="form-control label-text-left" id="troutbknotxt" th:text="${form.troutbknotxt}"></label>
				</td>
				<td class="condition-input">
					<label class="label-text-left">*0000</label>
				</td>
				<td class="condition-label">
					<label class="col-form-label" th:disabled="${disableddl}">沖正指示:</label>
				</td>
				<td class="condition-input">
					<select class="form-control" id="ecinstructionddl" th:disabled="${disableddl}">
						<option th:selected="${select == '000'}" value="000">000 : 不沖正, 但請存款單位查明原因</option>
						<option th:selected="${select == '001'}" value="001">001 : 沖正跨行帳/客戶帳</option>
					</select>
					<label style="display: none" id="QueryOK" th:text="${form.queryok}"></label>
				</td>
			</tr>
			<tr style="display: none">
				<td class="condition-input">
					<div class="col">
						<label id="oridatetime" th:text="${form.oridatetimetxt}"></label>
					</div>
				</td>
				<td class="condition-input">
					<div class="col">
						<label id="merchantid" th:text="${form.merchantid}"></label>
					</div>
				</td>
				<td class="condition-input">
					<div class="col">
						<label id="atmno" th:text="${form.atmno}"></label>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div layout:fragment="panel-script">
		<script type="text/javascript" th:src="@{/js/inbk/UI012140.js}"></script>
	</div>
</body>
</html>