<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{home}">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>404</title>
</head>
<body>
	<div layout:fragment="panel-content">
		<div class="alert alert-warning alert-dismissible">
			<h1>
				<i class="icon fas fa-exclamation-triangle"></i> 404 Page Not Found
			</h1>
			<h3>抱歉! 沒有找到您要訪問的網頁.</h3>
		</div>
	</div>
</body>
</html>